/*
 *  Node / block webform component
 * --------------------------------------------------*/

// Variables
// -------------------------
@webform-max-width: 100%;
@webform-inline-input-width: 72%;
@newsletter-height: 24px;


// Mixins
// -------------------------
.form-label() {
  width: auto;
  font-family: @pxl-text-font;
  font-size: @pxl-min-font-size;
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
  color: @text-color;

  @media @narrow {
    font-size: @pxl-resp-font-size;
  }
  @media @tablet {
    font-size: @pxl-max-font-size;
  }

  span.form-required {
    color: @pxl-color-blue;
  }
}

.resp-submit-button(@color: #fff; @bg-color: @gray-light) {
  display: inline-block;
  margin: 0;
  padding: 0.5em 1em;
  font-family: @pxl-text-font-bold;
  font-size: @pxl-resp-font-size;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: @color;
  outline: none;
  #pxl-mixins.border-radius(@border-radius-base);
  border: 1px solid darken(@bg-color, 5%);
  background-color: @bg-color;

  @media @tablet {
    font-size: 17px;
  }

  &:hover, &:focus {
    color: @bg-color;
    background: none;
  }
}



// General settings
// -------------------------
.node-webform {
  div.col-sm-12 {
    width: 100%;

    @media @normal {
      width: 70%;
    }

    .field-name-title {
      h2 {
        font-family: @pxl-text-font-bold;
        font-size: @pxl-min-font-size-large;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: @text-color;

        @media @narrow {
          font-size: @pxl-resp-font-size-large;
        }
        @media @tablet {
          font-size: @pxl-max-font-size-large;
        }
      }
    }

    form.webform-client-form {
      margin-top: 20px;

      .webform-component {
        margin: 0 auto 30px;
        padding: 0;
        max-width: @webform-max-width;
        background-color: #fff;

        label {
          .form-label;
        }

        div.description {
          display: block;
          margin: 10px 0 0;
          font-family: @pxl-text-font;
          font-size: @pxl-min-font-size;
        }

        input, textarea {
          height: auto;
          font-family: @pxl-text-font;
          font-size: @pxl-min-font-size;
          letter-spacing: 1.1px;
          text-align: left;
          color: @pxl-color-blue;
          box-shadow: none;
          #pxl-mixins.border-radius(@border-radius-base);
          border: 1px solid @pxl-color-border;

          @media @narrow {
            font-size: @pxl-resp-font-size;
          }
          @media @tablet {
            font-size: @pxl-max-font-size;
          }
        }
        input:focus,
        textarea:focus {
          border: 1px solid @pxl-color-border-active;
          .box-shadow(0 0 3px @pxl-color-blue);
        }

        .form-textarea-wrapper {
          div.grippie {
            display: none;
          }
        }

        .form-managed-file {
          display:inline-block;
          position: absolute;
          right: 0;
          overflow-x: auto;
          width: @webform-inline-input-width;
          white-space: nowrap;
          border: 1px solid @pxl-color-border;
          #pxl-mixins.border-radius(@border-radius-base);

          input {
            position: relative;
            float: none;
            padding: 0.3em;
            width: auto;
            width: 80%;
            text-align: left;
            border: none;
          }

          button.btn {
            .resp-submit-button(#fff, @pxl-color-red);
            margin: 0 1%;
            vertical-align: baseline;

          }

          @media @narrow {
            input {
              width: 60%;
              font-size: 2.1vw;
            }
            button.btn {
              padding: 0.3em 1em;
            }
          }
          @media @tablet {
            input {
              width: 68%;
              font-size: @font-size-base;
            }
          }
        }

        //
        // inline components
        &.webform-container-inline {
          position: relative;

          label, input {
            display: inline-block;
          }

          input.form-text {
            position: absolute;
            right: 0;
            width: @webform-inline-input-width;
          }
        }

      }

      div.form-actions {
        button.webform-submit {
          .resp-submit-button(#fff, @pxl-color-blue);
        }
      }
    }
  }

}

//
//  Webform Block
//
.block-webform {
  display: inline-block;
  position: absolute;
  right: 0;
  //overflow-x: auto;
  white-space: nowrap;

  .block-title {
    display: none;
    margin: 3px 0 0 0;
    vertical-align: top;
    font-family: @pxl-text-font;
    font-size: @font-size-base;
    text-align: left;
    color: @text-color;

    @media @narrow {
      display: inline-block;
    }
  }

  .node-webform {
    display: inline-block;
    div.col-sm-12 {
      width: 100%;
      margin: 0;

      .field-name-title {
        display: none;
      }

      form.webform-client-form {
        margin: 0;

        .webform-component {
          display: inline-block;
          margin: 0 -0.3em 0 0;
          vertical-align: top;

          input {
            padding: 5px;
            font-family: @pxl-text-font;
            font-size: @font-size-smaller;
            text-align: left;
            color: @text-color;
            letter-spacing: 1px;
            line-height: 1;
            height: @newsletter-height;
          }
          input:focus {
            .box-shadow(0 0 3px @pxl-color-blue inset);
          }

          &.webform-component--e-mail {
            width: 100px;

            @media @narrow {
              width: 140px;
            }
            @media @normal {
              width: 180px;
            }

            input {
              .border-left-radius(3);
              .border-right-radius(0);
            }
          }
          &.webform-component--plz {
            width: 50px;
            input {
              #pxl-mixins.border-radius(0);
            }
          }

        }
        div.form-actions {
          display: inline-block;
          vertical-align: top;

          button.webform-submit {
            padding: 5px;
            height: @newsletter-height;
            vertical-align: top;
            font-size: @font-size-smaller;
            .border-left-radius(0);
            .border-right-radius(3);
          }
        }
      }
    }

  }

  .webform-confirmation {
    display: inline-block;
    width: 180px;
    @media @narrow {
      width: 220px;
    }
    @media @normal {
      width: 260px;
    }

    p {
      font-family: @pxl-text-font;
      font-size: @pxl-min-font-size;
      text-align: left;
      color: @text-color;
      white-space: normal;
      #pxl-mixins.hyphenate;
    }
  }

  .links {
    display: none;
  }
}

