/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-header-height: 175px;

// Mixins
// -------------------------



// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: @pxl-header-height !important;

  &.admin-menu {
    padding-top: @pxl-header-height !important;
  }

}


header#navbar {
  border-bottom: none;
  background: #fff none;

  .navbar-top-container > .container {
    padding: 10px @grid-gutter-width / 2;
    height: @pxl-header-height;

    .navbar-meta {
      position: relative;
      width: 100%;
    }

    .navbar-header {
      float: none;
      margin: -30px 0 -40px;
      text-align: center;

      // header (branding)
      a.logo {
        display: inline-block;
        margin: 0;
        outline: none;

        img {
          height: auto;
          width: 163px;
          max-height: none;
        }
      }

      a.navbar-brand {
        display: none;
        padding: 0;
        font-family: @pxl-text-font-medium;
        font-size: @font-size-h1;
        color: @gray-darker;
        line-height: 1;
      }

      .navbar-toggle {
        // navbar toggle with burger
        margin-top: 40px;
        padding: 5px 10px;
      }
    }

    // collapse part
    .navbar-collapse {
      // first / secondary menu
      nav {
        position: relative;

        ul.menu {
          display: inline-block;
          float: none;
          position: absolute;
          margin: 0;
          left: 0;

          li {
            display: inline-block;
            float: none;

            a, span {
              cursor: pointer;
              display: block;
              padding: 10px 15px;
              font-family: @pxl-text-font-bold;
              font-size: 17px;
              line-height: 1;
              text-transform: uppercase;
              color: @text-color;
              outline: none;

              &.menu-participate {
                letter-spacing: 1.5px;
                color: #fff;
                border-radius: @border-radius-base;
                border: 1px solid darken(@pxl-color-blue, 5%);
                background-color: @pxl-color-blue;
              }

              &:hover,
              &.active,
              &.checked {
                color: @pxl-color-blue;
                background: none;
              }
            }
          }

          &.secondary {
            right: 0;
            left: auto;

            body.not-front & {
              display: none;
            }

            li {
              &.last a, &.last span {
                padding-right: 20px;
              }

              a, span {
                padding: 10px 30px 10px 0;
              }
            }
          }
        }
      }
    }
  }

  .navbar-exposed-form {
    display: none;
    border: 1px solid @pxl-color-border;
    .box-shadow(0 3px 5px -2px gray);

    > .container {
      background: transparent none;

      .region-navigation {

      }

    }
  }
}

